<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">

    <sql id="selectFields">
        id,user_id,title,content,type,status,create_time,comment_count,score
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status!=2       /* 帖子未被拉黑*/
        <if test="userId!=0">    /*在首页不会传入userId,userId=0*/
            and user_id = #{userId}
        </if>
        order by type desc,create_time desc  /*将置顶的后发布的帖子排到前面*/
        limit #{offset},#{limit}   /*分页  起始行和最大条目数*/
    </select>


    <select id="selectDiscussPostRows" resultType="int">   /*查询帖子的数量*/
        select count(id)
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
</mapper>